# Customer Segmentation

Goal: Segment customer base in order to help targeted marketing and understand their buying habits

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score

In [2]:
df = pd.read_csv('customer_segmentation.csv', encoding="ISO-8859-1")

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (20,33,73,106,158) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4194 entries, 0 to 4193
Columns: 181 entries, Customers.id to Products.freight_cost
dtypes: float64(98), int64(10), object(73)
memory usage: 5.8+ MB

In [34]:
df['Order_Items.product_id'].head()

0    2310.0
1     177.0
2       1.0
3     983.0
4     991.0
Name: Order_Items.product_id, dtype: float64

In [36]:
df['Order_Items.parent'].head()

0    3758
1      23
2    9531
3      29
4      30
Name: Order_Items.parent, dtype: int64

In [37]:
df['Order_Items.id'].head()

0     5284
1       31
2    11655
3     1816
4       40
Name: Order_Items.id, dtype: int64

In [38]:
df['Orders.id'].head()

0    3758
1      23
2    9531
3      29
4      30
Name: Orders.id, dtype: int64

In [3]:
pd.options.display.width = 0

In [4]:
df.head(100)

,Customers.id,Customers.fname,Customers.lname,Customers.company,Customers.create_date,Customers.status,Customers.mailing,Customers.reminders,Customers.tax_exempt,Customers.account_id,...,Products.google_shopping_label,Products.product_option,Products.size,Products.material,Products.arm_style,Products.leg_style,Products.seat_size,Products.family_id,Products.saved_status,Products.freight_cost
0,797,Christy,Dill,Company0,1426018724,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF61071,0.0,NaN
1,3,John,Smith,Company1,1386089139,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF02132,NaN,NaN
2,3,John,Smith,Company1,1386089139,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2 x Extra large,Nitrile,NaN,NaN,NaN,PF00342,0.0,NaN
3,4,James,Anderson,NaN,1386780263,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF04970,NaN,NaN
4,5,Abraham,Pollak,Company3,1386861599,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF03045,NaN,NaN
5,5,Abraham,Pollak,Company3,1386861599,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5,Abraham,Pollak,Company3,1386861599,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,peggy,thompson,NaN,1388155947,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF01527,0.0,NaN
8,8,Randy,Pruss,NaN,1389303216,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF04706,0.0,NaN
9,10,Tommy,Smith,NaN,1390509516,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,Mark,Tremble,NaN,1390573155,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,Emely,Cooke,NaN,1390613314,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2 Gallon,NaN,NaN,NaN,NaN,PF11364,3.0,NaN
12,13,george,mcmillin,NaN,1390856039,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Polypropylene Backing,NaN,NaN,NaN,PF01461,0.0,NaN
13,13,george,mcmillin,NaN,1390856039,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF66412,0.0,NaN
14,13,george,mcmillin,NaN,1390856039,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF66412,0.0,NaN
15,14,adrian,Cavitt,NaN,1391012017,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,15,Sharon,Mueller,NaN,1391362873,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,66,Norrell,Nelson,NaN,1395348641,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,PF21897,3.0,NaN
18,21,Corey,Edmondson,NaN,1391618732,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,22,Robert,Miller,NaN,1391814966,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.5 OZ,NaN,NaN,NaN,NaN,PF03522,3.0,NaN
20,23,Mekala,Whitaker,NaN,1391896746,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF66408,0.0,NaN
21,23,Mekala,Whitaker,NaN,1391896746,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF66408,0.0,NaN
22,23,Mekala,Whitaker,NaN,1391896746,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Polypropylene Backing,NaN,NaN,NaN,PF01461,0.0,NaN
23,23,Mekala,Whitaker,NaN,1391896746,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF66408,0.0,NaN
24,24,Richard,Ariano,NaN,1392048474,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF66412,0.0,NaN
25,25,marc,gorzynski,NaN,1392048647,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,Richard L.,Shaak,NaN,1392053937,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,Kenneth,Schmude,NaN,1392133600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF66412,3.0,NaN
28,27,Kenneth,Schmude,NaN,1392133600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF66412,3.0,NaN
29,27,Kenneth,Schmude,NaN,1392133600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF66412,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,55,patricia,davenport3429 us,NaN,1394430962,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"2.75"" x 2.375""",NaN,NaN,NaN,NaN,PF00219,0.0,NaN
71,56,Mark,Fortune,Company9,1394496123,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF00175,0.0,NaN
72,57,Robert,Leonard,NaN,1394716649,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,PF21897,3.0,NaN
73,59,Bobby,Bennett,Company10,1394832561,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PR3,0.0,NaN
74,60,Monette,Molinar,NaN,1394836187,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,28G - 1.6MM,NaN,NaN,NaN,NaN,PF03704,0.0,NaN
75,61,james,huff,NaN,1395059167,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF06497,0.0,NaN
76,62,Steven,Galagarza,NaN,1395079811,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF01583,NaN,NaN
77,63,Jannett,Stewart,NaN,1395178939,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RS3,0.0,NaN
78,68,barry,siegel,NaN,1395414500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"2"" x 2""",Rayon/Polyester,NaN,NaN,NaN,PF00244,0.0,NaN
79,69,Jill,Shulman,NaN,1395418385,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Aluminum,NaN,NaN,NaN,PF04728,0.0,NaN
80,70,Michelle,Petrelli,NaN,1395419303,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF59316,NaN,NaN
81,71,Ana Maria,Puente,NaN,1395452316,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF05013,0.0,NaN
82,72,Jean,Conary,NaN,1395587337,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF04878,0.0,NaN
83,73,michael,hughes,NaN,1395608569,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,28G - 1.6MM,NaN,NaN,NaN,NaN,PF03704,0.0,NaN
84,73,michael,hughes,NaN,1395608569,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,28G - 1.6MM,NaN,NaN,NaN,NaN,PF03704,0.0,NaN
85,73,michael,hughes,NaN,1395608569,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,28G - 1.6MM,NaN,NaN,NaN,NaN,PF03704,0.0,NaN
86,74,Richard,Ernst,Company11,1395689831,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,PF21897,3.0,NaN
87,75,Scott,Meyer,NaN,1395726593,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.250 OZ,NaN,NaN,NaN,NaN,PF03665,3.0,NaN
88,76,Iddo,Enochs,NaN,1395763639,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF12019,0.0,NaN
89,77,william,payne,Company12,1395785939,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF00610,0.0,NaN
90,78,Sheila,Collier,Company13,1395855445,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF07351,0.0,NaN
91,79,Karen,Sims,NaN,1395956374,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Medium,NaN,NaN,NaN,NaN,PF03816,0.0,NaN
92,79,Karen,Sims,NaN,1395956374,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Medium,NaN,NaN,NaN,NaN,PF03816,0.0,NaN
93,79,Karen,Sims,NaN,1395956374,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Medium,NaN,NaN,NaN,NaN,PF03816,0.0,NaN
94,79,Karen,Sims,NaN,1395956374,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Medium,NaN,NaN,NaN,NaN,PF03816,0.0,NaN
95,79,Karen,Sims,NaN,1395956374,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Large,Vinyl,NaN,NaN,NaN,PF19916,0.0,NaN
96,82,NIck,Kresovich,NaN,1396025977,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,PF21897,3.0,NaN
97,84,Robin,Fryzel,NaN,1396296714,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF04834,0.0,NaN
98,85,vera,arborio,NaN,1396440409,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF66411,3.0,NaN
99,85,vera,arborio,NaN,1396440409,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF66411,3.0,NaN

In [5]:
df.info(verbose =True, max_cols =True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4194 entries, 0 to 4193
Data columns (total 181 columns):
Customers.id                      4194 non-null int64
Customers.fname                   4194 non-null object
Customers.lname                   4194 non-null object
Customers.company                 727 non-null object
Customers.create_date             4194 non-null int64
Customers.status                  101 non-null float64
Customers.mailing                 2114 non-null float64
Customers.reminders               0 non-null float64
Customers.tax_exempt              5 non-null float64
Customers.account_id              3 non-null float64
Customers.sales_rep               0 non-null float64
Customers.rewards                 0 non-null float64
Customers.profile_id              0 non-null float64
Customers.last_modified           4194 non-null int64
Customers.customer_type           3771 non-null float64
Orders.id                         4194 non-null int64
Orders.customer_id                4194 non-null int64
Orders.fname                      4194 non-null object
Orders.lname                      4194 non-null object
Orders.company                    728 non-null object
Orders.order_number               4194 non-null object
Orders.reorder_id                 82 non-null float64
Orders.external_source            365 non-null object
Orders.external_id                5 non-null float64
Orders.currency                   4194 non-null object
Orders.sales_rep                  0 non-null float64
Orders.subtotal                   4194 non-null float64
Orders.tax                        3737 non-null float64
Orders.shipping                   3999 non-null float64
Orders.coupon_id                  882 non-null float64
Orders.coupon_amount              882 non-null float64
Orders.gift_id                    0 non-null float64
Orders.gift_amount                0 non-null float64
Orders.fee_name                   227 non-null object
Orders.fee_amount                 278 non-null float64
Orders.discount_name              282 non-null object
Orders.discount_amount            364 non-null float64
Orders.total                      4194 non-null float64
Orders.balance_due                351 non-null float64
Orders.shipping_carrier           3577 non-null object
Orders.shipping_method            3751 non-null object
Orders.shipping_trans             0 non-null float64
Orders.shipping_flags             0 non-null float64
Orders.weight                     3 non-null float64
Orders.tracking                   3818 non-null object
Orders.payment_status             4189 non-null float64
Orders.payment_date               4176 non-null float64
Orders.payment_user               1380 non-null object
Orders.payment_type               3810 non-null object
Orders.payment_method             722 non-null object
Orders.payment_amount             4176 non-null float64
Orders.purchase_order             0 non-null float64
Orders.payment_id                 3764 non-null object
Orders.payment_code               3446 non-null object
Orders.payment_ref                0 non-null float64
Orders.status                     4194 non-null int64
Orders.placed_date                4194 non-null int64
Orders.updated_date               4171 non-null float64
Orders.shipped_date               3848 non-null float64
Orders.comments                   287 non-null object
Orders.notes                      1276 non-null object
Orders.registry_id                0 non-null float64
Orders.gift_message               0 non-null float64
Orders.website                    0 non-null float64
Orders.mailing                    0 non-null float64
Orders.flags                      1 non-null float64
Orders.partial_ship               96 non-null float64
Orders.customer_type              4011 non-null float64
Order_Items.id                    4194 non-null int64
Order_Items.parent                4194 non-null int64
Order_Items.product_id            4151 non-null float64
Order_Items.product_name          4194 non-null object
Order_Items.attributes            0 non-null float64
Order_Items.attribute_names       51 non-null object
Order_Items.attribute_prices      0 non-null float64
Order_Items.qty                   4194 non-null int64
Order_Items.price                 4194 non-null float64
Order_Items.cost                  4191 non-null float64
Order_Items.registry_item         0 non-null float64
Order_Items.related_id            0 non-null float64
Order_Items.reorder_frequency     24 non-null float64
Order_Items.account_id            0 non-null float64
Order_Items.flags                 1008 non-null float64
Products.id                       4037 non-null float64
Products.status                   4037 non-null float64
Products.product_type             0 non-null float64
Products.template                 3973 non-null object
Products.vendor                   4037 non-null float64
Products.import_id                4037 non-null float64
Products.name                     4037 non-null object
Products.display_name             3662 non-null object
Products.menu_name                0 non-null float64
Products.list_price               4017 non-null float64
Products.price                    4036 non-null float64
Products.sale_price               1160 non-null float64
Products.cost                     4037 non-null float64
Products.flags                    2987 non-null float64
Products.left_flag                1239 non-null float64
Products.right_flag               0 non-null float64
Products.last_modified            4037 non-null float64
Products.taxable                  2959 non-null float64
Products.shopping_gtin            3130 non-null float64
Products.shopping_brand           4032 non-null object
Products.shopping_mpn             4034 non-null object
Products.shopping_gender          238 non-null object
Products.shopping_color           1700 non-null object
Products.shopping_age             2 non-null object
Products.shopping_flags           3917 non-null float64
Products.amazon_asin              2935 non-null object
Products.amazon_type              0 non-null float64
Products.amazon_item_type         4015 non-null object
Products.amazon_price             592 non-null float64
Products.google_shopping_id       3780 non-null object
Products.google_shopping_type     3979 non-null object
Products.google_shopping_cat      4011 non-null object
Products.google_adwords           0 non-null float64
Products.shopping_cat             2334 non-null float64
Products.shopping_type            2334 non-null object
Products.pricegrabber_cat         2334 non-null object
Products.shopzilla_cat            2334 non-null float64
Products.thefind_cat              2321 non-null object
Products.quickbooks_id            3728 non-null object
Products.qb_edit_sequence         3728 non-null float64
Products.price_break_type         0 non-null float64
Products.price_breaks             0 non-null float64
Products.short_description        3015 non-null object
Products.long_description         4008 non-null object
Products.websites                 0 non-null float64
Products.video                    676 non-null object
Products.audio                    0 non-null float64
Products.seo_title                4011 non-null object
Products.seo_description          565 non-null object
Products.seo_keywords             1158 non-null object
Products.seo_header               9 non-null object
Products.seo_footer               0 non-null float64
Products.seo_url                  4037 non-null object
Products.seo_category             2837 non-null float64
Products.unit                     3985 non-null object
Products.packaging                2890 non-null object
Products.display_packaging        16 non-null object
Products.multiple                 2964 non-null object
Products.length                   998 non-null float64
Products.width                    996 non-null float64
Products.height                   996 non-null float64
Products.rx                       635 non-null object
Products.latex                    1939 non-null object
Products.upc                      2127 non-null float64
Products.msds_link                622 non-null object
Products.msds_label               652 non-null object
Products.lit_link                 1360 non-null object
Products.lit_label                1357 non-null object
Products.hcpcs                    3288 non-null object
Products.case_qty                 2638 non-null float64
Products.markup                   0 non-null float64
Products.override_markup          2920 non-null float64
Products.notes                    446 non-null object
Products.import_flags             2786 non-null float64
Products.map_price                122 non-null float64
Products.features_title           2 non-null object
Products.warranty                 663 non-null object
Products.hygienic                 2080 non-null float64
Products.default_quantity         0 non-null float64
Products.user_size                616 non-null object
Products.assembly                 616 non-null object
Products.installation             616 non-null object
Products.shipping_length          3998 non-null float64
Products.shipping_width           3998 non-null float64
Products.shipping_height          3998 non-null float64
Products.shipping_weight          659 non-null float64
Products.handling_time            998 non-null object
Products.rotation_link            200 non-null object
Products.google_shopping_label    387 non-null float64
Products.product_option           313 non-null object
Products.size                     1443 non-null object
Products.material                 802 non-null object
Products.arm_style                155 non-null object
Products.leg_style                0 non-null float64
Products.seat_size                162 non-null object
Products.family_id                3869 non-null object
Products.saved_status             3930 non-null float64
Products.freight_cost             0 non-null float64
dtypes: float64(98), int64(10), object(73)
memory usage: 5.8+ MB

In [6]:
#get the column names in dataset
columns= list(df.columns.values)

#create empty lists to append column names
customers_columns = []
orders_columns =[]
order_items_columns = []
products_columns = []

#append column names to their respective lists
for i in range(len(columns)):
    if 'Customers' in columns[i]:
        customers_columns.append(columns[i])
    if 'Orders' in columns[i]:
        orders_columns.append(columns[i])
    if 'Order_Items' in columns[i]:
        order_items_columns.append(columns[i])
    if 'Products' in columns[i]:
        products_columns.append(columns[i])
        
#split the dataset to three dataframes
df_customers = df[customers_columns]
df_orders = df[orders_columns]
df_order_items = df[order_items_columns]
df_products = df[products_columns]

In [7]:
# #combine customers and orders columns
# custorderdf = pd.merge(df_customers[['Customers.id','Customers.customer_type']], df_orders[['Orders.placed_date','Orders.total','Order_Items.qty','Order_Items.price','Orders.shipping','Orders.tax','Order_Items.product_id']], left_index=True, right_index=True)

In [8]:
# #combine cust/orders with products 
# newdf =pd.merge(custorderdf, df_products[['Products.google_shopping_type' ,'Products.google_shopping_cat']],left_index=True, right_index=True)

In [9]:
# df_customers['Customers.customer_type'].value_counts()

In [10]:
df_customers.shape, df_order_items.shape, df_orders.shape, df_products.shape

((4194, 15), (4194, 15), (4194, 53), (4194, 98))

## SQL setup

In [11]:
import sqlite3

#connect csv to sqlite, create the database 
conn = sqlite3.connect('Customer_segmentation.db')

#create cursor object
cursor = conn.cursor()

In [12]:
# conn.close_all()

In [13]:
#inserted data frames into tables  
df_customers.to_sql('Customers', conn, if_exists='replace', index=False)

In [14]:
df_orders.to_sql('Orders', conn, if_exists='replace', index=False)

In [15]:
df_order_items.to_sql('Order_Items', conn, if_exists='replace', index=False)

In [16]:
df_products.to_sql('Products', conn, if_exists='replace', index=False)

In [81]:
newdf = df[['Customers.id', 'Orders.id','Order_Items.qty','Order_Items.price','Order_Items.cost','Order_Items.id','Order_Items.product_id']]

In [83]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4194 entries, 0 to 4193
Data columns (total 7 columns):
Customers.id              4194 non-null int64
Orders.id                 4194 non-null int64
Order_Items.qty           4194 non-null int64
Order_Items.price         4194 non-null float64
Order_Items.cost          4191 non-null float64
Order_Items.id            4194 non-null int64
Order_Items.product_id    4151 non-null float64
dtypes: float64(3), int64(4)
memory usage: 229.4 KB

In [88]:
newdf.head()

,Customers.id,Orders.id,Order_Items.qty,Order_Items.price,Order_Items.cost,Order_Items.id,Order_Items.product_id
0,797,3758,1,57.20,44.00,5284,2310.0
1,3,23,4,5.00,1.87,31,177.0
2,3,9531,1,68.78,52.50,11655,1.0
3,4,29,1,19.56,12.62,1816,983.0
4,5,30,1,36.05,25.75,40,991.0

In [91]:
newdf['Order_Items.id'].value_counts()

18431    1
10968    1
6870     1
13011    1
6866     1
18785    1
4815     1
6862     1
2764     1
6858     1
17097    1
12999    1
19140    1
4803     1
11329    1
19136    1
6846     1
6842     1
15026    1
8881     1
15022    1
17069    1
2732     1
18072    1
6826     1
19112    1
6822     1
16630    1
19108    1
6818     1
        ..
5544     1
7609     1
5560     1
3511     1
17846    1
5556     1
7601     1
5552     1
3503     1
17838    1
7597     1
13740    1
19883    1
17834    1
3495     1
17802    1
7589     1
13732    1
3491     1
13728    1
5532     1
3483     1
9626     1
7577     1
5528     1
3479     1
17806    1
7565     1
18245    1
10241    1
Name: Order_Items.id, Length: 4194, dtype: int64

In [71]:
newdf[newdf['Customers.id'] == 3].head()

,Customers.id,Orders.id,Order_Items.qty,Order_Items.price,Order_Items.cost
1,3,23,4,5.00,1.87
2,3,9531,1,68.78,52.50

In [70]:
newdf[newdf['Orders.id'] ==12450]

,Customers.id,Orders.id,Order_Items.qty,Order_Items.price,Order_Items.cost
2853,2429,12450,1,45.14,32.71
2854,2429,12450,1,13.48,2.45
2855,2429,12450,1,18.60,12.00
2856,2429,12450,1,3.49,1.01
2857,2429,12450,1,25.13,17.33
2858,2429,12450,2,2.84,0.71
2859,2429,12450,5,2.76,0.69
2860,2429,12450,1,11.28,2.82
2861,2429,12450,1,30.45,21.00

In [80]:
newdf.[Order_Items.product_id.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Order_Items'

In [65]:
newdf['Orders.id'].value_counts()

16186    10
12450     9
15667     8
7357      8
12994     6
15108     6
941       6
4151      6
16429     6
10826     6
13683     6
4486      5
16145     5
8763      5
15327     5
15999     5
2764      5
11314     5
12140     5
8581      5
3904      5
6967      5
11746     5
16750     5
16180     4
13037     4
6933      4
3890      4
14072     4
14117     4
         ..
13832     1
5256      1
5252      1
11463     1
1226      1
3323      1
9446      1
15609     1
4267      1
9462      1
3315      1
9454      1
15597     1
13548     1
15126     1
5352      1
3303      1
5348      1
5324      1
11491     1
15585     1
5344      1
3295      1
7389      1
3291      1
13528     1
3287      1
5332      1
1230      1
16384     1
Name: Orders.id, Length: 3565, dtype: int64

In [98]:
newdf.head()

,Customers.id,Orders.id,Order_Items.qty,Order_Items.price,Order_Items.cost,Order_Items.id,Order_Items.product_id
0,797,3758,1,57.20,44.00,5284,2310.0
1,3,23,4,5.00,1.87,31,177.0
2,3,9531,1,68.78,52.50,11655,1.0
3,4,29,1,19.56,12.62,1816,983.0
4,5,30,1,36.05,25.75,40,991.0

In [97]:
#create query to combine all desired features


sql_query = '''
    SELECT
    Customers.[Customers.id] AS customer_id, 
    Order_Items.[Order_Items.price] * Order_Items.[Order_Items.qty] AS value
    FROM Orders
    LEFT JOIN Customers ON Orders.[Orders.customer_id] = customer_id
    '''

# sql_query = '''
#     SELECT Customers.[Customers.id] AS customer_id, 
#     Orders.[Orders.id] AS orders_id,
#     Order_Items.[Order_Items.price] AS order_items_price,
#     Order_Items.[Order_Items.qty] AS order_items_qty,
#     Order_Items.[Order_Items.cost] AS order_items_cost
#     FROM Orders
#     LEFT JOIN Customers ON Orders.[Orders.customer_id] = customer_id
#     LEFT JOIN Order_Items ON Order_Items.[Order_Items.parent] = orders_id
#     GROUP BY customer_id
#     '''

# use distinct .


# sql_query = '''
#     SELECT Order_Items.[Order_Items.price] AS order_items_price,
#     Order_Items.[Order_Items.qty] AS order_items_qty,
#     Order_Items.[Order_Items.cost] AS order_items_cost,
#     Order_Items.[Order_Items.id] AS order_items_id
#     FROM Order_Items
#     GROUP BY order_items_id;'''


# sql_query = '''
#     SELECT Orders.[Orders.id] AS orders_id,
#     Order_Items.[Order_Items.price] AS order_items_price,
#     Order_Items.[Order_Items.qty] AS order_items_qty,
#     Order_Items.[Order_Items.cost] AS order_items_cost,
#     Order_Items.[Order_Items.id] AS order_items_id,
#     Order_Items.[Order_Items.product_id] AS order_items_product_id    
#     FROM Orders
#     LEFT JOIN Order_Items ON Order_Items.[Order_Items.parent] = orders_id
#     '''

df_order_query = pd.read_sql(sql_query, conn)
df_order_query

        value
0       57.20
1       20.00
2       68.78
3       19.56
4       36.05
5       44.46
6       14.63
7       39.19
8       59.75
9       34.00
10      34.00
11      21.52
12      43.06
13      75.62
14      75.62
15     339.99
16      18.94
17     119.70
18      34.00
19      13.68
20      81.48
21      35.52
22      24.40
23     122.22
24      29.38
25      35.00
26      35.00
27      17.88
28      17.88
29      17.88
...       ...
4164    28.28
4165    70.99
4166    37.99
4167    29.00
4168    22.21
4169    45.16
4170    79.07
4171    37.99
4172    26.40
4173    18.60
4174    26.74
4175    11.56
4176    17.36
4177    42.99
4178    60.40
4179    34.10
4180   115.20
4181   255.56
4182    92.88
4183    17.52
4184    96.80
4185    13.99
4186    14.99
4187    18.99
4188    17.52
4189    14.85
4190    39.99
4191  1099.00
4192   129.99
4193    24.54

[4194 rows x 1 columns]

In [ ]:
conn.close()

## Create RFM table

In [ ]:
#Finds frequency of Orders from a customer
dffreq = newdf.groupby('Customers.id').size().reset_index(name='Frequency')
dffreq.head(10)

In [ ]:
#Create Days_Passed in newdf, convert seconds from placed date by subtracting current target order to most recent order 
newdf['Days_Passed']= newdf['Orders.placed_date'].map(lambda x: (df['Orders.placed_date'].max()-x)/86400)
#Finds the most recent order of a customer
dfrec = newdf.groupby('Customers.id')['Days_Passed'].min().reset_index(name='Recency')
dfrec.head(10)

In [ ]:
#Aggregrate by total price of orders of each customer
dfmoney = newdf.groupby('Customers.id')['Orders.total'].sum().reset_index(name='Money')
dfmoney.head(10)

In [ ]:
#merge all tables together to form rfm table
rfmtable = pd.merge(dffreq,dfrec, on=['Customers.id'])
rfmtable = pd.merge(rfmtable,dfmoney, on=['Customers.id'])
rfmtable.head(10)

In [ ]:
# # create labels and assign them to tree percentile groups 
# r_labels = range(4, 0, -1)
# r_groups = pd.qcut(rfmtable.Recency, q = 4, labels = r_labels)
# f_labels = range(1, 5)
# f_groups = pd.qcut(rfmtable.Frequency, q = 2, labels = f_labels)
# m_labels = range(1, 5)
# m_groups = pd.qcut(rfmtable.Monetary, q = 4, labels = m_labels)

In [ ]:
#create customer type column 
dftype = newdf.groupby('Customers.id')['Customers.customer_type'].first().reset_index(name='Customer Type')
#replace null value with mode
dftype['Customer Type'].fillna( 0.0 , inplace =True)

In [ ]:
dfcluster = pd.merge(rfmtable,dftype, on=['Customers.id'])

In [ ]:
# dfquantity = newdf.groupby('Customers.id')['Order_items.qty'].sum()

In [ ]:
dfcluster.head()

In [ ]:
# import pandas_profiling
# rfmtable.profile_report(style={'full_width':True})

In [ ]:
dfcluster.info()

In [ ]:
# import math
# rfmtable.Frequency = rfmtable.Frequency.apply(math.log1p)
# rfmtable.Recency = rfmtable.Recency.apply(math.log1p)
# rfmtable.Money = rfmtable.Money.apply(math.log1p)
# rfmtable['Customer Type'] = rfmtable['Customer Type'].apply(math.log1p)

In [ ]:
# from sklearn import preprocessing
# scaler = preprocessing.StandardScaler().fit(rfmtable)
# rfm_scaled = scaler.transform(rfmtable)
# pd.DataFrame(rfm_scaled, columns=rfmtable.columns).describe().T

In [ ]:
#Building the Model
#KMeans Algorithm to decide the optimum cluster number , KMeans++ using Elbow Mmethod
#to figure out K for KMeans, I will use ELBOW Method on KMEANS++ Calculation
from sklearn.cluster import KMeans
wcss=[]

In [ ]:
### Feature sleection for the model
#Considering only 2 features (Annual income and Spending Score) and no Label available
X = dfcluster.values
# X = rfm_scaled

In [ ]:
for i in range(1,11):
    kmeans = KMeans(n_clusters= i, init='k-means++', random_state=0)
    kmeans.fit(X)
    wcss.append(kmeans.inertia_)

    #inertia_ is the formula used to segregate the data points into clusters

In [ ]:
#Visualizing the ELBOW method to get the optimal value of K 
plt.plot(range(1,11), wcss)
plt.title('The Elbow Method')
plt.xlabel('no of clusters')
plt.ylabel('wcss')
plt.show()

In [ ]:
#Model Build
kmeansmodel = KMeans(n_clusters= 6, init='k-means++', random_state=0)
y_kmeans= kmeansmodel.fit_predict(X)
#For unsupervised learning we use "fit_predict()" wherein for supervised learning we use "fit_tranform()"
#y_kmeans is the final model . Now how and where we will deploy this model in production is depends on what tool we are using.
#This use case is very common and it is used in BFS industry(credit card) and retail for customer segmenattion.

In [ ]:
#Visualizing all the clusters 

plt.scatter(X[y_kmeans == 0, 1], X[y_kmeans == 0, 3], s = 100, c = 'red', label = 'Cluster 1')
plt.scatter(X[y_kmeans == 1, 1], X[y_kmeans == 1, 3], s = 100, c = 'blue', label = 'Cluster 2')
plt.scatter(X[y_kmeans == 2, 1], X[y_kmeans == 2, 3], s = 100, c = 'green', label = 'Cluster 3')
plt.scatter(X[y_kmeans == 3, 1], X[y_kmeans == 3, 3], s = 100, c = 'cyan', label = 'Cluster 4')
plt.scatter(X[y_kmeans == 4, 1], X[y_kmeans == 4, 3], s = 100, c = 'magenta', label = 'Cluster 5')
plt.scatter(X[y_kmeans == 5, 1], X[y_kmeans == 5, 3], s = 100, c = 'black', label = 'Cluster 6')

# plt.scatter(kmeans.cluster_centers_[:, 1], kmeans.cluster_centers_[:, 3], s = 300, c = 'yellow', label = 'Centroids')
plt.title('Clusters of customers')
plt.xlabel('Number of Orders')
plt.ylabel('Total Price')
plt.legend()
plt.show()

In [ ]:
#Visualizing all the clusters 

plt.scatter(X[y_kmeans == 0, 1], X[y_kmeans == 0, 2], s = 100, c = 'red', label = 'Cluster 1')
plt.scatter(X[y_kmeans == 1, 1], X[y_kmeans == 1, 2], s = 100, c = 'blue', label = 'Cluster 2')
plt.scatter(X[y_kmeans == 2, 1], X[y_kmeans == 2, 2], s = 100, c = 'green', label = 'Cluster 3')
plt.scatter(X[y_kmeans == 3, 1], X[y_kmeans == 3, 2], s = 100, c = 'cyan', label = 'Cluster 4')
plt.scatter(X[y_kmeans == 4, 1], X[y_kmeans == 4, 2], s = 100, c = 'magenta', label = 'Cluster 5')
plt.scatter(X[y_kmeans == 5, 1], X[y_kmeans == 5, 2], s = 100, c = 'black', label = 'Cluster 6')

# plt.scatter(kmeans.cluster_centers_[:, 1], kmeans.cluster_centers_[:, 2], s = 300, c = 'yellow', label = 'Centroids')
plt.title('Clusters of customers')
plt.xlabel('Recency')
plt.ylabel('Frequency')
plt.legend()
plt.show()

In [ ]:
# #Visualizing all the clusters 

# plt.scatter(X[y_kmeans == 0, 3], X[y_kmeans == 0, 4], s = 100, c = 'red', label = 'Cluster 1')
# plt.scatter(X[y_kmeans == 1, 3], X[y_kmeans == 1, 4], s = 100, c = 'blue', label = 'Cluster 2')
# plt.scatter(X[y_kmeans == 2, 3], X[y_kmeans == 2, 4], s = 100, c = 'green', label = 'Cluster 3')
# plt.scatter(X[y_kmeans == 3, 3], X[y_kmeans == 3, 4], s = 100, c = 'cyan', label = 'Cluster 4')
# plt.scatter(X[y_kmeans == 4, 3], X[y_kmeans == 4, 4], s = 100, c = 'magenta', label = 'Cluster 5')
# plt.scatter(X[y_kmeans == 5, 3], X[y_kmeans == 5, 4], s = 100, c = 'black', label = 'Cluster 6')

# # plt.scatter(kmeans.cluster_centers_[:, 3], kmeans.cluster_centers_[:, 4], s = 300, c = 'yellow', label = 'Centroids')
# plt.title('Clusters of customers')
# plt.xlabel('Money')
# plt.ylabel('Customer Type')
# plt.legend()
# plt.show()